<ion-view title="Done! Thanks" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h1 id="doneThanks-heading3" style="color:#000000;">Confirm Vote</h1>
            <label class="item item-input" name="Party List Vote">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Party">
            </label>
            <label class="item item-input" name="Local Candidate Vote">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Local Candidate">
            </label>
        </form>
        <button id="doneThanks-button9" style="font-weight:;" class="button button-positive button-large icon ion-android-cloud-done">: Cast / Update Vote</button>
        <div id="doneThanks-markdown4" style="color:#000000;">
            <p>For this election you have:</p>

            <p>
                <strong>1</strong>chance to make your initial casting and
                <strong>6</strong>more updates.</p>
        </div>
        <div style="text-align:center;">
            <img src="img/ldfyYFcFSbegfU4IKAOr_NZ_Parliament_seats,_2014.svg.png" width="15%" height="auto">
        </div>
    </ion-content>
</ion-view>